body {
    font-family: Arial;
    padding: 30px;
    background: #f4f4f4;
    text-align: center;
}

.input-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 16px;
}

button {
    padding: 10px 18px;
    background: #7209b7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #56068e;
}

#taskList {
    width: 300px;
    margin: 20px auto;
    padding: 0;
}

li {
    list-style: none;
    background: white;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.completed {
    text-decoration: line-through;
    color: gray;
}
