body {
  font-family: Arial;
  background: #f9f9f9;
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  color: #7209b7;
}

.box {
  background: white;
  padding: 40px;
  margin: 40px 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 20px;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.6s ease;
}

/* When reveal is active */
.box.active {
  opacity: 1;
  transform: translateY(0);
}
