body {
  font-family: Arial;
  padding: 40px;
  background: #f5f5f5;
  text-align: center;
}

.title {
  color: #7209b7;
  margin-bottom: 20px;
  font-size: 28px;
}

#searchBox {
  width: 280px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

#list {
  list-style: none;
  padding: 0;
  margin: auto;
  width: 200px;
}

#list li {
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

#list li:hover {
  background: #4cc9f0;
  color: white;
}
